<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="groupPath" value="\Config\Group.xlsx"/>
		<add key="vPath" value="\Config\Variable.xlsx"/>
	</appSettings>
		
</configuration>